.game-over{
    text-align: center;
    padding: 60px; 
    background-color: #f2f2f2;
    border: 3px solid #333; 
    border-radius: 30px; 
    margin: 50px auto;
    max-width: 800px; 
  }
  
  #game-overForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    color: #ff0000;
    font-size: 48px; 
  }
  
  p {
    margin-bottom: 40px; 
    font-size: 32px; 
  }
  
  .try-again-btn {
    background-color: #11002C;
    color: #f2f3f6;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 30px;
    height: 60px;
    font-size: 25px; 
    width: 50%; 
    border: 3px solid #11002C;
    margin-bottom: 30px;
  }
  
  .try-again-btn:hover {
    background-color: #0192CE;
    border-color: #0192CE;
  }
  
  .back-to-home {
    text-decoration: none;
    color: #027bae;
    font-weight: bold;
    font-size: 18px;
  }
  
  .back-to-home:hover {
    text-decoration: underline;
  }
