
.preloader {
    position: fixed;
    background-image: url("/src/spacepreloader.gif");
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; 
    z-index: 9999;
  }
  