
#question-image {
    text-align: center;
     margin-top: 250px;
     display: flex;
     justify-content: center; 
     align-items: center;
     border: 2px solid #11002C;

 }

 .img{
    background-image: url("/src/images/image1.png");
    margin-left: -600px;
    background-size:cover;
    position: absolute;
    left: 50%;
    width: 30%; /* Adjust the width to make the image smaller */
    height: 60%; /* Adjust the height to make the image smaller */
    max-width: 400px;  
    bottom: -2%; 
 }



 .bg {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1; 
     background-image: url('/src/images/bgimage2.jpg');
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }
 
 #input {
    margin-top: 10px;
    justify-content: center;  
    padding: 15px; /* Adjust the padding for the input box */
    width: 60px; /* Adjust the width for the input box */
    margin-left: auto; 
    margin-right: auto; 
    border: 2px solid #11002C; /* Add a border to the input box */
    border-radius: 10px; /* Add border-radius for rounded corners */
 }
 
 .mute-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: transparent;
    font-size: 2em; /* Adjust the size as needed */
    border: none;
    cursor: pointer;
    outline: none;
  }


 .next-btn {
     background-color: #11002C;
     color: #f2f3f6;
     transition: 0.5;
     cursor: pointer;
     border-radius: 20px;
     height: 60px;
     margin: 15px 0 10px 0;
     font-size: 25px;
     font-weight: 400;
     margin-left: 70%;
     width: 8%;
     position: relative;
     bottom: 5%;
     border: 2px solid #11002C;
     
 }
 
 .next-btn:hover {
    background-color: #0192CE;  
}

 #note {
     margin-top: 15px;
     font-size: 25px;
     color: #11002C;
     text-align: center;
     justify-content: center; 
     padding: 10px;
     margin-left: auto; 
     margin-right: auto; 
     
 }

 #timer{
    font-size: 20px;
    margin-top: -5px;
    position: relative;
    bottom: 81%;
    color: white;
    margin-left: 30%;
 }
 
 
 #score{
    font-size: 25px;
    margin-top: 100px;
    position: relative;
    bottom: 99%;
    color: white;
    margin-left: -37%;
 }



 .try-again-btn {
    background-color: #11002C;
    color: #f2f3f6;
    transition: 0.5;
    cursor: pointer;
    border-radius: 20px;
    height: 30px;
    font-size: 20px;
    position: relative;
    bottom: 5%;
    border: 2px solid #11002C;
 }
 
 .try-again-btn:hover {
    background-color: #0192CE;  
}

  